* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body {
    background: #ffffff;
    font-family: "Poppins",sans-serif;
}
/*header*/
.header {
    display: flex;
    justify-content: center;
}
.nav-bar {
    width: 70%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding: 20px 10px 0 10px;
}
.right-side {
    display: flex;
    align-items: center;
}
.right-side .register {
    padding-left: 10px;
    text-decoration: none;
    color: #222222;
}
.right-side .register:hover {
    color: #6F15C9;
    cursor: pointer;
    text-decoration: #6f15c9 underline;
}
.right-side .sign-in:hover {
    color: #6F15C9;
    cursor: pointer;
    text-decoration: #6f15c9 underline;
}

.right-side .sign-in {
    text-decoration: none;
    color: #222222;
}
.brand-name { 
    display: flex;
    align-items: center;
}
.header .nav-bar .brand-name img {
    width: 35px;
    height: 35px;
    transform: translateX(50%);
}
.nav-bar .brand-name .artifact {
    color: #000000;
    font-weight: bold;
    padding-left: 30px;
    text-decoration: none;
}
.artifact{
    text-decoration: none;
}

/*body*/
.tiitle {
    display: flex;
    justify-content: center;
}
.main .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    padding-top: 20px;
}
.main .title .line2 {
    color:  #6F15C9;
}
.main .description {
    text-align: center;
    color: #000000;
    padding: 20px 30px 20px 30px;
}
.main .get-started {
    text-align: center;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px 20px 20px;
}
.main .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .register {
    text-align: center;
    color: #ffffff;
    background-color: #6F15C9;
    padding: 8px 10px 8px;
    text-decoration: none;
    width: 100px;
    border-radius: 5px;
}
.main .account-exists {
    color: gray;
    text-align: center;
    font-size: 10px;
    padding: 10px 20px 20px 20px;
}
.favourite {
    color: #000000;
    font-weight: bold;
    padding: 20px 30px 20px 30px;
    font-size: 12px;
}
.main-container {
    width: 100%;
    display: flex;
}
.main-container .post-container{
    flex-grow: 3;
}
.main-container .left-side {
    padding: 10px 30px;
}
 .left-side .web {
    border: 1px;
    background-color: #D4D4D4;
    border-radius: 8px;
    width: 78px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

}
.web .web-name {
    padding-left: 10px;
    padding-right: 10px;
}
.left-side .subject {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.left-side .heading {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.left-side .subject .readings {
    font-size: 11px;
    color: gray;
    display: flex;
    align-items: center;
}
.left-side .author-details {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.left-side .author-details .author-name {
    color: gray;
    font-size: 12px;
}
.left-side .author-details .date {
    color: gray;
    font-size: 11px;
}
.left-side .contents {
    color: #000000;
    font-size: 14px;
    padding-top: 10px;
}
.main-container .right-side {
    width: 20%;
    font-size: 13px;
    color: #000000;
    flex-grow: 1;
    padding: 40px 30px 0 30px;
    margin-top: 0;
    align-items: unset;
}

