/* .container .search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .search-bar .form{
    padding-right: 20px;
}
.search-bar .search-button .button{
    font-size: 1.3rem;
} */
.news-feed{
    /* display: flex; */
    padding-top: 30px;
}
.news-feed .profile-container{
    flex-direction: unset;
    padding: unset;
    padding-bottom: 20px;
}
.news-feed .user-profile .profile-container .profile-picture {
    padding-right: 20px;
}
.news-feed .profile-container .profile-impressions .articles-impressions {
    padding-top: 10px;
    font-size: 0.69rem;
    color: #444444;
}
.news-feed .user-profile{
    display: block;
    padding: 30px; 
    border-radius: 15px;
    position: fixed;
    overflow: auto;
}
.news-feed .user-profile .user-articles .subject{
    padding-top: 20px;
}
.news-feed .profile-container .profile-name{
    color: #6F15C9;
    font-size: 0.86rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.news-feed .user-articles .myarticles {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 20px 0 20px 0;
}
.news-feed .user-articles .readings{
    color: #444444;
    font-size: 0.69rem;
}
.news-feed .user-articles .subject {
    text-decoration: unset;
    transition: background-color  300ms ease-in-out;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
}
.news-feed .user-articles .subject .readings {
    padding-bottom: 20px;
}
.container .recent-articles{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex: 4;
    margin-left: 300px;
}
.recent-articles .post-section .post .author-details {
    padding-top: unset;
}
.recent-articles .post{
    padding-bottom: 40px;
}
.recent-articles .post-container a {
    transition: background-color  300ms ease-in-out;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
}
.recent-articles .post-container:hover {
    background-color: #ffffff;
}
.recent-articles .post-container .name-topic {
    display: flex;
    justify-content: space-between;
}
.recent-articles .post-section .post-container .name-topic .name-date {
    color: #444444;
    font-size: 0.86rem;
}
.recent-articles .post-section .post-container .readings {
    font-size: 0.69rem;
    color: #444444;
}


/* @media (max-width: 1100px) {
    .user-profile {
        display: none;
        visibility: hidden;
    }
}

/* small screens */
/* @media (max-width: 700px) {
    .user-profile {
        display: none;
        visibility: hidden;
        flex: none;
    }
} */ 
