.icon-bar {
    border: 1px solid #42087c;
    width: 40px;
    height: 1px;
    margin-bottom: 8px;
  }
button.navbar-toggle {
    padding: 10px 10px;
    display: none;
    cursor: pointer;
  }
.user-profile {
    display: flex;
}
.user-profile .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 3;
}

.user-profile .profile-container .profile-name {
    font-size: 2.2rem;
    font-weight: 800;
    color: #111111;
    margin-bottom: -10px;
}
.user-profile .profile-container .small {
    font-size: 0.86rem;
}
.user-profile .profile-container .bio {
    margin-top: 20px;
}
.user-profile .profile-container .website {
    margin-top: 10px;
}
.user-profile .profile-container .edit-profile {
    margin-top: 40px;
}
.user-profile .post-section {
    flex: 4;
    height: calc(100vh - 330px);
    background-color: rgb(234, 232, 236);
    border: 2px solid rgb(212, 209, 218);
    margin: 40px;
}
.user-profile .post-section .post {
    cursor: default;
    border-radius: 0;
    border-bottom: 2px solid rgb(212, 209, 218);
}
.user-profile .post-section .posts {
    height: calc(100vh - 412px);
    overflow: auto;
    padding: 0 30px;
}
.user-profile .post-section .post:hover {
    background-color: inherit;
}
.user-profile .post-section .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
    padding: 0 40px;
    background-color: rgb(227, 224, 230);
    box-shadow: 0px 1px 0 #999999;
    z-index: 10;
}

@media (max-width: 1100px) {
    .user-profile {
        flex-direction: column;
    }
    .user-profile .profile-container {
        padding: 20px;
    }
    .user-profile .post-section {
        margin: 100px 0;
        height: auto;
    }
    .user-profile .post-section .posts {
        height: auto;
    }
    .container .nav-bar .nav {
        display: none;
    }
    .container .nav-bar button.navbar-toggle {
        display: block;
    }
    .container .nav-bar .nav.active {
        display: flex;
        flex-direction: column;
        background-color: #42087c;
        width: 100%;
        height: 100%;
        color: #ffffff;
        position: fixed;
        justify-content: center;
    }
    .container .nav-bar .nav.active a {
        padding-bottom: 10px;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
}

/* small screens */
@media (max-width: 700px) {
    .user-profile .profile-container {
        padding: 10px;
    }
}
