/*********************************************
FONT SIZE
very-large(40px) - 2.2rem
large(25px) - 1.3rem
medium(20px) - 1.1rem
normal(18px) - 1rem
small(16px) - 0.86rem
extra-small(14px) - 0.69rem

COLOR
theme - #6F15C9
theme-dark - #42087C
title-color - #111111
font-color - #222222
gray-color - #444444
************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    font-size: 18px;
}

button::-moz-focus-inner {
    border: 0;
}
  
.make-purple {
    color: #6F15C9;
}

a {
    color: inherit;
}

.primary-link {
    color: #6F15C9;
    transition: color 300ms ease-in-out;
}

.primary-link:hover {
    color: #42087C;
}

.button {
    border: none;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #6F15C9;
    transition: background-color 300ms ease-in-out;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}
.button.danger {
    background-color: #ce2626;
}
.button.danger:hover {
    background-color: #800c0c;
}
.button.small {
    font-size: 0.86;
    padding: 2px 8px;
}
.button.large {
    font-size: 1.3rem;
    padding: 5px 25px;
}
.button.medium {
    font-size: 1.1rem;
    padding: 6px 25px;
}
.button:hover {
    background-color: #42087C;
}

.profile-pic .picture {
    height: 275px;
    width: 275px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-pic.small .picture {
    height: 64px;
    width: 64px;
}
.profile-pic.medium .picture {
    height: 124px;
    width: 124px;
}
body {
    background: #ffffff;
    color: #222222;
    font-family: "Poppins", sans-serif;
}
/*header*/
.header {
    display: flex;
    justify-content: center;
    height: 80px;
    position: fixed;
    z-index: 20;
    background-color: #ffffff99;
    width: 100%;
}
.header .nav-bar {
    width: 100%; 
    max-width: 900px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.header .nav-bar .nav {
    display: flex;
    align-items: center;
}
.header .nav .link {
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: color 300ms ease-in-out;
}
.header .nav .link:hover {
    color: #6F15C9;
}

.header .nav-bar .brand-name { 
    display: flex;
    align-items: center;   
    text-decoration: none;
    font-size: 1.3rem;
}
.header .nav-bar .brand-name img {
    width: 35px;
    height: 35px;
}
.header .nav-bar .brand-name .artifact {
    color: #111111;
    font-weight: 500;
    padding-left: 10px;
}

/*body*/
.main {
    padding: 100px 80px;
}

.main .title {
    font-size: 2.2rem;;
    font-weight: 800;
    color: #111111;
    text-align: center;
    padding: 20px;
}

/*top-section*/
.main .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .top-section .description {
    font-size: 1.1rem;
    padding: 20px 0 40px 0;
}
.main .top-section .get-started {
    color: #111111;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 15px 0;
}
.main .top-section .register {
    font-size: 1.3rem;
    padding: 8px 25px;
}
.main .top-section .account-exists {
    text-align: center;
    font-size: 0.86rem;
    padding: 15px;
}

/* bottom section */
.bottom-section {
    display: flex;
    padding: 40px 0;
}
.bottom-section .post-section {
    flex: 4;
}
.post-section .sub-title {
    font-weight: 500;
    font-size: 1.3rem;
    color: #111111;
    padding-bottom: 20px;
}
.post-section .post {
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: background-color 300ms ease-in-out;
    cursor: pointer;
    border-radius: 15px;
}
.post-section .post:hover {
    background-color: #F4F4F4;
}
.post-section .post .labels {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 0;
}
.post-section .post .icon {
    cursor: pointer;
}
.label {
    font-size: 0.69rem;
    background-color: #D4D4D4;
    border-radius: 12.5px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-right: 8px;
}
.label .icon {
    margin-right: 8px;
    height: 75%;
    object-fit: contain;
}
.post-section .post .subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.post-section .post .heading {
    color: #111111;
    font-size: 1.3rem;
    font-weight: 500;
}
.post-section .post .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.post-section .post .icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 5px;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
    box-shadow: 0 0 0 #00000066;
    transition: box-shadow 300ms ease-in-out;
}
.post-section .post .icons .icon:hover {
    box-shadow: 0 0 8px #00000066;
    background-color: #F4F4F4;
}
.post-section .post .icons .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.post-section .post .subject .readings {
    font-size: 0.69rem;
    color: #444444;
    text-align: right;
}
.post-section .post .author-details {
    display: flex;
    justify-content: space-between;
}
.post-section .post .author-details .author-name {
    color: #444444;
    font-size: 0.86rem;
}
.post-section .post .author-details .date {
    font-size: 0.69rem;
    color: #444444;
    text-align: right;
}
.post-section .post .contents {
    padding-top: 10px;
    word-break: break-all;
}
.bottom-section .right-side {
    flex: 1;
    padding: 60px 0 0 50px;
}
.bottom-section .right-side p {
    margin: 20px 0;
}

/* medium screens */
@media (max-width: 1100px) {
    .main {
        padding: 0 40px;
    }
}

/* small screens */
@media (max-width: 700px) {
    .main {
        padding: 0 15px;
    }
    .bottom-section {
        flex-direction: column;
    }
    .bottom-section .right-side {
        padding: 60px 0 0 0;
    }
}