.main{
    padding: unset;
}
.main .title {
    text-align: unset;
    padding-left: 40px;
}
.container .about-article{
    padding: 40px 40px;
}
.container .about-article .title-description{
    font-size: 1.3rem;
    padding-bottom: 20px;
}
.container .about-article .profile-website-container{
    display: flex;
    justify-content: space-between;
}
.container .about-article .profile-website-container .website .website-button{
    padding-bottom: 20px;
}
.container .profile-container{
    display: flex;
    flex-direction: unset;
    align-items: center;
    padding: unset;
}
.container .profile-container .name-read .profile-name{
    color: #6F15C9;
    font-size: 0.86rem;
    font-weight: 500;
    padding-top: 10px;
}
.container .profile-container .name-read .profile-reads{
    font-size: 0.69rem;
    font-weight: 500;
    color: #444444;
    padding-left: 10px;
}
.container .profile-container .profile-pic img{
    width: 63px;
    height: 62px;
}
.container .about-article .time-to-read{
    font-size: 0.69rem;
    color: #444444;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container .about-article .labels{
    display: flex;
    flex-wrap: wrap;
}
.container .about-article .labels .label{
    font-size: 0.69rem;
    background-color: #D4D4D4;
    border-radius: 12.5px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-right: 8px;
}
.container .about-article .labels .label .icon{
    margin-right: 8px;
    height: 75%;
    object-fit: contain;
}
.container .about-article .labels .label .name{
    font-size: 0.69rem;
}
.container .article-section p{
line-height: 40px;
padding-bottom: 30px;
}

.container .impressions-follow{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.container .impressions-follow .impressions-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-bottom: 3px solid #444444;
}
.container .impressions-follow .follow-container{
    display: flex;
    flex-direction: column;
}
.container .impressions-follow .follow-container .follow-button{
    padding-left: 20px;
}
.container .impressions-follow .follow-container .topic{
    padding-bottom: 20px;
}
.container .author-details{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.container .author-details .name-read{
    padding-left: 20px;
    padding-right: 20px;
}
.container .author-details .name-read .profile-name{
    padding-left: unset;
}
.container .author-details .name-read .author-description{
    font-size: 1rem;
    color: #444444;
}
.container .response{
    padding-top: 100px;
}
.container .response .account-title{
    padding-bottom: 20px;
}
.container .response textarea{
    width: 100%;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    padding: 8px 15px;
    width: 100%;
    color: #444444;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    border: 2px solid rgb(230, 230, 230);
    transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}
.container .response textarea:focus{
    border: 2px solid #6F15C933;
}
.container .response textarea:hover{
    background-color: rgb(225, 225, 225);
}
.container .viewer-details{
    padding-top: 40px;
}
.container .viewer-details .profile-reads{
    padding-left: 10px;
}
.container .viewer-details .viewer-explanations{
    padding-left: 75px;
    padding-top: 10px;
}